


 .posts-container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    margin-top: 10vh;
    
    /* margin: 0 auto ; */
    width: 100%;
    gap:2vh;
} 


@media (max-width: 768px) {
    .posts-container {
    max-width: 100%; 
    padding: 8px;
    }
    }