#nav-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#003e6d;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    
    display: flex;
    align-items: center;
    padding: 0 1px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;



}

.logo img{

    width:15vh;
    height: 6vh;
}

.logo1 {
    width: 5vh;
}

.login-section{

    display: flex;
    gap:2vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 4vh;

    margin-right: 2vh;

    margin-left: 2vh;

    margin-top: 3vh;

    margin-bottom: 2vh;

}


@media (max-width: 768px){

    #nav-bar-container {
        display: flex;
        flex-direction: row;
        height: auto;
        width: 100%;
        padding: 8px;
        /* align-items: flex-start; */
    
    }

    .logo{

        flex-direction: column;
    }

 




}


