.content-container{
    width: 100%;

    display: flex;
    flex-direction: column;
}

.picture-content img{

    /* width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 2%; */

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 2%;
    
}

.text-content{
    text-align: start;
}


.short-content{

    max-height: 10vh;
}

.long-content{
    max-height: none;
}



@media (max-width: 768px) {

    .short-content{

        max-height: 15vh;
    }
 
 
    
    }


