.Post-container{

    border-radius: 1%;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.129);
    padding: 1vh;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
}



@media (max-width: 768px) {
    
    
    .Post-container {
        max-width: 100%; 
        padding: 8px;
    }
    }
